<!Doctype html>
<html lang="en">
    <head>
        <title>Project W</title>
    </head>
    <body>
        <header>
            <div >
                <h1>{{pageTitle}}<br> IT</h1>   
            </div>
        </header>
        
        {{> footer}}
    </body>
</html>